extends layout

block content
  h1= title
  button#btn-add.mb-3.btn.btn-primary ADD Todo

  ul.todolist
    each todo in todos
      li= todo.content

block scripts
  script(src="/javascripts/index.js")
